# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
idea/
.idea
.idea/
.idea/*

# venv directory
./venv
venv
venv/
venv/*

# Extension files
__pycache__/
**/*.pyc
**/*.log
*.pyc
